{{ if .IsNamedParams }}

<div class="alert alert-{{with .Get "theme"}}{{.}}{{else}}primary{{end}}" role="alert">
    {{ .Inner }}
</div>

{{ else }}

<div class="alert alert-{{ if len .Params | eq 1 }}{{ .Get 0 }}{{ else }}primary{{ end }}" role="alert">
    {{ .Inner }}
</div>

{{ end }}