{{ if .IsNamedParams }}

<div class="card" style="width: {{ if .Get "width" }}{{ .Get "width" }}{{ else }}18rem{{ end }};">
    {{ if .Get "img" }}
    <img src="{{ .Get "img" }}" alt="{{ .Get "imgalt" }}">
    {{ end }}
    <div class="card-body">
        <h5 class="card-title">{{ .Get "title" }}</h5>
        <p class="card-text">
            {{ .Inner }}
        </p>
    </div>
</div>

{{ else }}

<div class="card">

    {{ if len .Params | ge 2 }}
    <img src="{{ .Get 1 }}" alt="{{ if len .Params | eq 3 }}{{ .Get 2}}{{ end }}">
    {{ end }}
    <div class="card-body">
        <h5 class="card-title"> {{ if len .Params | ge 1 }}{{ .Get 0 }}{{ end }}</h5>
        <p class="card-text">
            {{ .Inner }}
        </p>
    </div>
</div>

{{ end }}
