{{ $maincss := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS }}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ $maincss.RelPermalink }}" rel="stylesheet">

    <title>{{ .Title }}</title>
</head>