{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section>
            {{ .Content }}
            </section>
        </div>
    </div>
</div>
{{ end }}